.navbar {
    position:fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

.navbar li {
    display: inline-block;
    padding: 0px 20px; 
}

.navbar a {
    text-decoration: none;
    color: black;   
}
.banner {
    background-color: #4D00FF;
    color: white;
    margin-top: 50px;
    text-align: center;
    padding: 100px 0;   
}

#small-gritty {
    height: 400px;
    width: 300px;

    /*The filter CSS property applies graphical effects like blur or color shift to an element. Filters are commonly used to adjust the rendering of images, backgrounds, and borders.*/

    /*The filter property defines visual effects (like blur and saturation) to an element (often <img>).*/

    /*https://developer.mozilla.org/en-US/docs/Web/CSS/filter#try_it*/
    /*https://www.w3schools.com/cssref/css3_pr_filter.asp*/

    filter: drop-shadow(1px 1px 1px black);

}

.gritter_section {
    padding: 20px 50px;
}

#gritter {
    color: #4D00FF;
    font-size: 100px;
    
}

.avatar {
    /* ../ -> go one level up
        ./ -> access from same level*/
    background-image: url("../images/gritty.png");
    background-size: cover;
    height: 50px;
    width: 50px;
    
    /* border-radius: 50% makes the container(image in this case) round*/
    border-radius: 50%;

    display: inline-block;

    /* vertical-align:middle -> Align the 'middle' baseline of the inline element with the middle baseline of the parent.*/
    vertical-align:middle;
}

.bold {
    font-weight: 900;

}

a.blue {
    color: blue;
    
    /*This is a special "Good Practice" when styling anchor tags(such as color and other effects). It is necessary to do it this way!!! */

}

#greets ul {
    list-style-type: none;
}

