*{
    box-sizing: border-box;
    padding: 5px;
}

#wrapper {
    height: 1600px;
    width: 1200px;
    border: 1px solid black;
    margin: 0 auto;
    
    
}



header {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("../images/pattern.jpeg");
    background-size: cover;
    
}

.section_heading {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#brushes {
    background-color: mediumspringgreen;
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}

.prize {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}